html, body {
	background-color: blue; 
    background-image: url('giphy.gif');
	background-repeat: no-repeat;
	background-size: cover;
	color: blue;
	margin:0;padding:0;height:100%;
}

div.center {
    height: 100%;
	display: flex;
	align-items: center;
	justify-content: center }

img.rounded {
  border-radius: 90%;
  border: 3px solid black;
  height: 75%;
}

.transparent {
    background: rgba(255,255,255, 0.25); /* White background with 40% opacity */
	height: 100%;
	padding: 0;
	margin: 0;
}


  
