html, body {
    background-image: url('giphy.gif');
	background-repeat: no-repeat;
	background-size: cover;
	margin:0;
	padding:0;
}

div.center {
	display: flex;	
	justify-content: center;	
}

@font-face { font-family: BigdeyDemo; src: url('fonts/Lactosa_DEMO.ttf'); } 

h1 { 
	font-family: BigdeyDemo, sans-serif; 
	font-size: 120;
	color: OliveDrab;
	text-align: center;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	padding: 0px;
    margin: 0px;
}

h2 { 
	font-family: BigdeyDemo, sans-serif; 
	font-size: 35;
	color: OliveDrab;
	text-align: center;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	padding: 0px;
    margin: 0px;
}

a.rounded {
  border-radius: 90%;
  border: 0px solid black;
  height: 50%;
}

img.rounded {
  border-radius: 100%;
  border: 10px solid transparent;
  height: 100%;
  opacity: 0.9;
}

img.rounded:hover {
	border: 10px solid black;
}

.transparent {
    background: rgba(255,255,255, 0.15); /* White background with 40% opacity */
	height: 100%;
	padding: 0;
	margin: 0;
}

svg {
  height: 200px;
  width: 200px;
}

path {
  fill: url(#bg-image);
}


  
