html, body {
	background-color: blue; 
    background-image: url('giphy.gif');
	background-repeat: no-repeat;
	background-size: cover;
	color: blue;
	margin:0;padding:0;height:100%;
}

div.center {
    height: 100%;
	display: flex;
	align-items: center;
	justify-content: center }

a.rounded {
  border-radius: 90%;
  border: 0px solid black;
  height: 75%;
}

img.rounded {
  border-radius: 100%;
  border: 0px solid black;
  height: 100%;
  opacity: 0.9;
}

img.center.rounded:hover .rounded {
	opacity: 0.9;
}

.transparent {
    background: rgba(255,255,255, 0.15); /* White background with 40% opacity */
	height: 100%;
	padding: 0;
	margin: 0;
}

svg {
  height: 200px;
  width: 200px;
}

path {
  fill: url(#bg-image);
}


  
