@font-face { font-family: Lactosa; src: url('../fonts/Lactosa_DEMO.ttf'); } 

html, body {
	background-image: url('background1.jpg');
		margin:0;
	padding:0;
	-webkit-text-size-adjust: none;
}

h1 { 
	font-family: Lactosa, sans-serif; 
	font-size: 7vw;
	line-height: 7vw;
	color: gray;
	text-align: center;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	padding: 2vw  0.2vw  0.2vw  0.2vw;
	word-wrap: break-word;
    hyphens: auto;
}

h2 { 
	font-family: Lactosa, sans-serif; 
	font-size: 3vw;
	line-height: 2vw;
	color: gray;
	text-align: center;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	padding: 4vw 4vw 4vw 4vw;
    margin: 0px;
}

.counter {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;    
	font-size: 100%;
	display: inline;
}

.countainer {
	width: 200px;
    height: 150px; 
}

#squares div {
	border-radius: 2vw;
    border: 0.2vw solid #0F52BA;
	padding: 1vw 1vw 1vw 1vw;
    /* these styles will let the divs line up next to each other
       while accepting dimensions */

    background: #6593F5;
	font-size: 7vw;
	display: inline;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */

	margin:auto;
    /* a small margin to separate the blocks */
    margin-right: 1vw;
	width: 50%;
}

.center {
	margin:auto;
	width: 50%;
}

.addeventatc {
	position:fixed;
}

.float{
	position:fixed;
	width:10vw;
	height:10vw;
	bottom:0vw;
	left:1vw;
	text-align:center;
	z-index: 2;
}